@import '/variable.less';

.custom-tab-bar {
  --td-tab-bar-height: @tab-bar-height;
  padding-bottom: env(safe-area-inset-bottom);
  background: @bg-color-white;
  box-shadow: 0 -2rpx 12rpx rgba(0, 0, 0, 0.04);

  &-item {
    margin: 0;
    padding: 16rpx @spacing-page;
  }
}
