@import '/variable.less';

.home-navbar {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: rgba(245, 245, 247, 0.96);

  .t-navbar {
    background: transparent !important;

    &__left {
      margin-left: 12rpx;
    }
  }

  &__icon {
    padding: 12rpx;
  }

  &__left {
    display: flex;
    align-items: center;
    padding: 0 16rpx;

    .t-search {
      --td-search-height: 64rpx;
      --td-search-font-size: @font-size-mini;
      width: 375rpx;

      .t-icon {
        font-size: @font-size-default !important;
      }
    }
  }
}
